* {
	box-sizing: border-box;
}
section{
   
     display:grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
body{
    
    background-color:#D8DAD3;
    font-family:'Monda', sans-serif;
    color:#D00000
}
button{
    color:black;
    background-color:#D00000;
    
    margin:10px;
    padding:10px;
   

}

.cardface {
    height:25vmin;
    background-color: white ;
    margin: 8px 8px;
    padding: 4px;
   
}
.title{
    font-size: 45px;
    display: flex;
    justify-content: center;

}
.timer{
    font-size: 20px;
    display: flex;
    justify-content: center; 
}